# (c) 2017 KAI OS TECHNOLOGIES (HONG KONG) LIMITED All rights reserved. This
# file or any portion thereof may not be reproduced or used in any manner
# whatsoever without the express written permission of KAI OS TECHNOLOGIES
# (HONG KONG) LIMITED. KaiOS is the trademark of KAI OS TECHNOLOGIES (HONG KONG)
# LIMITED or its affiliate company and may be registered in some jurisdictions.
# All other trademarks are the property of their respective owners.

workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_PROJECT_PATH == "KaiOS/gecko-dev"'
    - if: '$CI_PROJECT_PATH == "KaiOS/gecko-dev" && $CI_COMMIT_BRANCH == "next"'
    - when: never

include:
  - '.gitlab/ci/bases.yml'
  - '.gitlab/ci/lint.yml'

default:
  image: ${CI_REGISTRY}/re/kaios-build/next/daily:1.49.0_5_3
  tags:
    - hk-fantastic4

# an anchor that eusures the priority for the longest build:arm to get served by runner
.delayed_job: &delay_if_triggered_by_mr
  rules:
    - if: '$CI_MERGE_REQUEST_PROJECT_PATH == "KaiOS/gecko-dev"'
      when: delayed
      start_in: 10 seconds

variables:
  # set GIT_DEPTH=1 to fetch current branch only
  GIT_DEPTH: 1
  # GIT_CLONE_PATH would be overidden with "koost" if pipeline gets triggered from within koost
  # also, in order for sccache, perisitent path is preferred
  GIT_CLONE_PATH: ${CI_BUILDS_DIR}/kaios/gecko
  # since we can always get nearly the whole git history from mirror,
  # it's ok to `fetch` the incoming MR instead of re-cloning the repo.
  GIT_STRATEGY: fetch
  # we don't need to checkout the whole working tree since we'd like to
  # lint the modified files only.
  GIT_CHECKOUT: 'false'

stages:
  - lint
  - build
  - deploy

Check if rebased and validate commit messages:
  extends: .precautions_base

lint:eslint:
  extends: .lint_eslint
  stage: lint

lint:common:
  extends: .lint_common
  stage: lint

lint:cpp:
  extends: .lint_cpp
  stage: lint

lint:python:
  extends: .lint_python
  stage: lint

lint:rs:
  extends: .lint_rs
  stage: lint

lint:yml:
  extends: .lint_yml
  stage: lint

build:arm:
  extends: .build_arm
  stage: build
  rules:
    - if: '$CI_MERGE_REQUEST_PROJECT_PATH == "KaiOS/gecko-dev"'

build:desktop:
  extends: .build_desktop
  stage: build
  <<: *delay_if_triggered_by_mr

build:emulator:
  extends: .build_emulator
  stage: build
  <<: *delay_if_triggered_by_mr

production:desktop:
  extends: .build_desktop
  stage: deploy
  variables:
    B2G_DESKTOP_PROJECT_ID: 11099 # releng/ci-util/b2g-desktop
  after_script:
    - ./mach package
    - base64 ${MOZ_OBJDIR}/dist/b2g*.tar.bz2 > b2g-desktop-b64
    - |
      cat <<-EOF >commit_message
      ${CI_COMMIT_MESSAGE}

      Source: ${CI_PROJECT_PATH}@${CI_COMMIT_SHORT_SHA}
      EOF
      cat commit_message
    - |
      curl --request POST --header "PRIVATE-TOKEN: ${B2G_DESKTOP_DEPLOY_KEY}" \
        --form "branch=${CI_COMMIT_BRANCH}" \
        --form "commit_message=$(cat commit_message)" \
        --form "actions[][action]=update" \
        --form "actions[][file_path]=b2g.linux-x86_64.tar.bz2" \
        --form "actions[][content]=<./b2g-desktop-b64" \
        --form "actions[][encoding]=base64" \
        "${CI_API_V4_URL}/projects/${B2G_DESKTOP_PROJECT_ID}/repository/commits"
  rules:
    - if: '$CI_PROJECT_PATH == "KaiOS/gecko-dev" && $CI_COMMIT_BRANCH == "next"'
