/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  background: linear-gradient(135deg, #1cb5e0 0%, #000851 100%);
  color: gray;
  font-family: sans-serif;
}

/* navigation footer */

#navigation {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}

button {
  margin: 0.5em;
  padding: 0.25em;
}

/* Virtual keyboard */

#keyboard {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
}

#keyboard.offscreen {
  transform: translateY(100%);
}
