/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  padding: 0;
}

#browser {
  display: inline-block;
  width: 100vw;
  height: 90vh;
}

#actions {
  display: flex;
}

#actions > button {
  border: 1px solid black;
}
